language: php
sudo: false

php:
  - 7.0
  - 7.1

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

before_install:
  - composer selfupdate

addons:
  apt:
    packages:
    - parallel

install:
  - export COMPOSER_ROOT_VERSION=dev-master
  - if [ "$DEPENDENCIES" == "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
  - if [ "$DEPENDENCIES" != "low" ]; then composer update; fi;
  - if [ "$DEPENDENCIES" == "low" ]; then composer update --prefer-lowest; fi;
  - composer require ramsey/uuid

script:
   - bin/phpspec run --format=pretty
   #- ./vendor/bin/phpunit --testdox
   #- ./vendor/bin/behat --format=pretty --tags '~@php-version'`php php_version_tags.php`
